PORT=8000
MONGODB_URI=mongodb+srv://hitesh:your-password@cluster0.lxl3fsq.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=learning backend
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend serier
REFRESH_TOKEN_EXPIRY=10d

